<div class="wrapper">
  <main class="content">
    <div class="user-info">
      <img src="https://avatars.githubusercontent.com/u/46204369?v=4" alt="Hoffmann Queifer">
      <h1>Seja bem vindo, eu sou o Hoffmann Queifer</h1>
      <p>Aqui, você verá um exemplo de Linktree, que nada mais é do que um site que exibe o conteúdo que você deseja mostrar para seus clientes e seguidores. Nesse espaço, você pode falar sobre seu negócio, exibir imagens e fornecer links para suas demais redes sociais, WhatsApp e outros. Além disso, o Linktree facilita a centralização de todos os seus links importantes em um único lugar, proporcionando praticidade e mais visibilidade para o seu público. Essa ferramenta é ideal para quem quer otimizar sua comunicação online, garantindo que seu público acesse facilmente suas informações e se engaje de forma mais eficaz com seu conteúdo e ofertas.</p>
    </div>
    <app-links>

    </app-links>
  </main>
  <footer>Desenvolvido por Hoffmann Queifer</footer>
</div>
